body {
    font-family: Roboto, sans-serif;
}

.carousel-item img, #foto-profissional {
    max-height: 700px;
    object-fit: cover;
}

#img-card {
    max-height: 500px;
    object-fit: cover;
}

#foto-profissional {
    max-height: 500px;
    object-fit: cover;
    transition: all 0.5s;
}

.nome-profissional {
    position: absolute;
    opacity: 0;
    bottom: 10px;
    left: calc(50% - 84.5px);
    padding: 16px;
    color: #fff;
    transition: all 0.5s;
}

#foto-profissional:hover, #container-foto-profissional:hover .nome-profissional {
    opacity: 1;
    transform: scale(1.1);
}

.accordion-flush {
    margin-top: 32px;
    padding: 10px;
    background-color: #444f99;
    border-radius: 10px;
}

.accordion-flush .accordion-item .accordion-header button {
    background-color: #5d66b2;
    color: #fff;
    font-weight: bold;
}

.accordion-flush .accordion-item {
    outline: none;
    border: none;
    border-bottom: 3px solid #444f99;
}

.accordion-collapse {
    font-style: italic;
}

#meu-carousel-com-texto .carousel-inner {
    border: 10px solid #444f99;
    border-radius: 10px;
}

#meu-carousel-com-texto {
    margin-top: 32px;
}

.navbar {
    background-color: #444f99;
}

#cabecalho nav ul.nav a.nav-link.active {
    background-color: #fff;
    color: #444f99;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-experiencia .nav-item .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: pacifico, cursive;
}

.text-colored {
    color: #444f99;
}

.nav-experiencia .nav-item .nav-link.active, #fale-conosco button {
    background-color: #444f99;
    color: #fff;
}

.nav-experiencia .nav-item .nav-link:hover {
    color: #444f99;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.address ul {
    list-style: circle;
}

.address a {
    text-decoration: none;
    color: #000;
}

.address a:hover {
    text-decoration: underline;
    color: #303030;
}

.address ul li:hover {
    list-style: disc;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}